doctype html
html(lang="ru")
include modules/head
body
    include  modules/black-box
    include modules/header
    section
        div hello!
    include modules/footer
//script(src="https://unpkg.com/imask")
script(src="js/scripts.min.js")